* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 95%;
    padding: 0 30px;
}

.header {
    display: flex;
    gap: 40px;
    margin: 40px 0;
}


.wrap-games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    /* max-width: 95%; */
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pagination {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#up,
#down {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}